<div class="col-md-12 text-center">
    <h1 class="text-primary">Home component is worked !</h1>
</div>
<div class="col-md-12">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt commodi eos impedit, sequi, repudiandae facilis adipisci voluptas perferendis illo ratione modi assumenda natus corrupti optio. Aliquam, libero sed. Officiis, nesciunt?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, delectus tempora beatae neque nesciunt obcaecati, et quam veniam est officiis aliquam. Dicta totam quibusdam soluta suscipit quam sequi at similique?</p>
</div>