<footer class="footer p-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center p-2">
                <a href="#!" class="btn btn-outline-success m-1"><i class="fab fa-facebook"></i></a>
                <a href="#!" class="btn btn-outline-success m-1"><i class="fab fa-instagram"></i></a>
                <a href="#!" class="btn btn-outline-success m-1"><i class="fab fa-youtube"></i></a>
                <a href="#!" class="btn btn-outline-success m-1"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="col-sm-12 text-center p-2">
                <div class="footer-nav">
                    <a href="#!" class="text-secondary m-3">Sobre Angeles Cake´s</a>
                    <a href="#!" class="text-secondary m-3">Contacto</a>
                    <a href="#!" class="text-secondary m-3">FAQs</a>
                    <a href="#!" class="text-secondary m-3">Términos y Condiciones</a>
                </div>
            </div>
            <div class="col-sm-12 text-center p-2">
                <p class="text-primary">© Piyoasdf 2019. Todos los derechos reservados. By <a href="#!" class="text-secondary">Angeles Cake´s</a></p>
            </div>
        </div>
    </div>
</footer>